<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>
            About the application
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <ion-label>
                The goal of this application is about to record a meeting, to make a speech to text, to summarize, and
                to send it to collaborators by email.
            </ion-label>
        </ion-card-header>
    </ion-card>

</ion-content>


