<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <h2 style="text-align:center;">Record a meeting.</h2>
      <div style="display: flex; justify-content: center;">
        <ion-button [routerDirection]="'forward'" [routerLink]="['/idea']" color="primary">
          <ion-icon name="microphone"></ion-icon>
          Start recording
        </ion-button>
        <ion-button color="primary">
          <ion-icon name="document"></ion-icon>
          In progress
        </ion-button>
      </div>
    </ion-card-header>
  </ion-card>



  <ion-list>
    <ion-card *ngFor="let idea of (ideas | async)">
      <ion-card-header>
       <ion-card-title> {{ idea.name }}</ion-card-title>
        <ion-card-header>
          <ion-icon name="time"></ion-icon>
          {{ idea.date.toDate() | date: 'medium' }}
        </ion-card-header>
        <ion-card-subtitle>
         {{ idea.speech }}
         </ion-card-subtitle>
        <ion-button  [routerLink]="['/idea', idea.id]" size="small"  color="success">
          <ion-icon name="save" slot="start"></ion-icon>
          Update
        </ion-button>
          <ion-button (click)="delete_idea(idea)" color="danger" size="small">
          <ion-icon name="trash" slot="start"></ion-icon>
          Delete
        </ion-button>

      </ion-card-header>
    </ion-card>
  </ion-list>


</ion-content>
