<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <h2 style="text-align:center;">Record a meeting.</h2>
      <div style="display: flex; justify-content: center;">

        <ion-button color="primary">
          <ion-icon name="microphone"></ion-icon>
          Start recording
        </ion-button>
        <ion-button color="primary">
          <ion-icon name="document"></ion-icon>
          Import audio
        </ion-button>
      </div>


    </ion-card-header>
  </ion-card>

  <ion-list>
    <ion-card href="#">
      <ion-card-header>
        <ion-card-title>
          Meeting about cloud
        </ion-card-title>
        <ion-card-subtitle>
          30 novembre 2019 - 15:05 -
          <ion-icon name="time"></ion-icon>
          2h32
        </ion-card-subtitle>
        <ion-button color="danger" size="small">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-button>

      </ion-card-header>

    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Conference on Devops
        </ion-card-title>
        <ion-card-subtitle>
          02 Décembre 2019 - 12:38 -
          <ion-icon name="time"></ion-icon>
          1h12
        </ion-card-subtitle>
        <ion-button color="danger" size="small">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-button>

      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Learn how to learn
        </ion-card-title>
        <ion-card-subtitle>
          12 Décembre 2019 - 16h:30 -
          <ion-icon name="time"></ion-icon>
          45m36
        </ion-card-subtitle>
        <ion-button color="danger" size="small">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-button>

      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Meeting about cloud
        </ion-card-title>
        <ion-card-subtitle>
          30 novembre 2019 - 15:05 -
          <ion-icon name="time"></ion-icon>
          2h32
        </ion-card-subtitle>
        <ion-button color="danger" size="small">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-card-header>
    </ion-card>
  </ion-list>

</ion-content>
